.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;

  &-text {
    width: 90%;
  }

  .btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: red;
  }
}